aside {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    p {
        transform: rotate(270deg);

    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 18px;

        li {
            background-color: white;
            padding: 10px;
            border-radius: 5px;
        }
    }
}